[build]
builder = "nixpacks"
buildCommand = "echo 'Skip additional install'"

[deploy]
startCommand = "npm start"
healthcheckPath = "/api/articles"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
numReplicas = 1

[env]
NODE_ENV = "production"
PORT = "3000"

[[volume]]
source = "uploads"
path = "/uploads" 