[build]
builder = "nixpacks"
buildCommand = "npm install"

[deploy]
startCommand = "npm start"
healthcheckPath = "/api/articles"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
numReplicas = 1

[env]
NODE_ENV = "production"
PORT = "3000"
SERVER_URL = "https://blog-production-154c.up.railway.app"
CORS_ORIGIN = "https://blog-production-154c.up.railway.app"

[[volume]]
source = "data"
path = "/data"

[[init]]
command = "mkdir -p /data/uploads/covers /data/uploads/avatars /data/uploads/articles && chmod -R 755 /data" 